<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <p>------------------------------------------------------------------</p>
  <h3><%= link_to restaurant.name, restaurant_path(restaurant)%></h3>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone_number %></p>
  <p><%= restaurant.category %></p>
<% end %>

<p><%= link_to "+ Add a new Restaurant",  new_restaurant_path, class: "btn btn-success"%></p>
